<div class="container content" id="x">
  <div class="row" id="x">
    <div class="col-12">
      <h1 id="tit">{{ titu }}</h1>
    </div>
    <div class="col-md-4 mb-4" *ngFor="let info of st">
      <div class="card border-info mb-3" style="max-width: 18rem">
        <div class="card-header" value="info.nombre">{{ info.nombre }}</div>
        <div class="card-body text-info">
          <h5 class="card-title" value="info.capital">{{ info.capital }}</h5>
          <p class="card-text" value="info.descripcion">
            {{ info.descripcion }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
